.navbar-brand {
  float:none;
  opacity: 0.5;
  margin:0 auto;
  display: block;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

/* backgroundImage and font should be changed with time travel */
.theme1 {
  background-image: url("../images/oldNewspaper.jpg");
  font-family: 'Fredericka the Great', cursive;
  color: dimgray;
}

.theme2 {
  background-image: url("../images/space-exploration.jpg");
  font-family: 'Press Start 2P', cursive;
  color: lightgray;

}

.theme3 {
  background-image: url("../images/AI-image.jpg");
  font-family: 'Michroma', sans-serif;
  color: bisque;
}

body {

  margin-bottom: 60px; /* Margin bottom by footer height */
  background-size: 1280px;
  width: 100%;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
  }

/* Load Page CSS */
body {
  background-color: #D4D4D4;
}

.jumbotron {
  font-family: 'Old Standard TT', serif;
  height: 200px;
}

.jumbotron h1 {
  color: white;
  font-weight: 700;
}

.jumbotron h5 {
  color: white;
  font-weight: 700;
}

#searchButton {
  margin-top: 20px;
  font-family: 'Old Standard TT', serif;

}


/* End of Load Page CSS */